<!DOCTYPE html>
<html>
<head>
    <title>Lista de Productos</title>
</head>
<body>
<h1>Productos</h1>
<input type="text" name="keywords" value="Busqueda de productos">
<div id="contProd">

</div>
</body>
</html>
